body {
  background-color: #999999;
}

.report-table .panel-group {
  margin-bottom: 0;
}

#dynamic-content {
  max-width: 600px;
  min-width: 300px;
}

#report-container .panel {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
}

#report-title {
  padding: 10px 5px;
  font-size: large;
}

.column-header .row {
  margin-left: 0;
  margin-right: 0;
}

#report-container .panel-heading {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 0;
}

#report-container .panel-heading .report-date {
  font-weight: normal;
}

#report-container .panel-body {
  padding-bottom: 0;
  padding-top: 0;
}

#report-container .location-row {
  padding: 0;
}

.amount-none {
  color: #ccc;
  font-weight: normal;
}

.amount-small {
  color: #000;
  font-weight: normal;
}

.amount-medium {
  color: #000;
  font-weight: bold;
}

.amount-large {
  color: #000;
  font-weight: bold;
  background-color: #00A000;
}

.amount-xlarge {
  color: #fff;
  font-weight: bold;
  background-color: #ff00000;
}

/* really small devices still wrap columns without this */
.row .col-xs-1, .row .col-xs-2, .row .col-xs-3, .row .col-xs-4, .row .col-xs-5, .row .col-xs-6, .row .col-xs-7, .row .col-xs-8 {
  padding-left: 10px;
  padding-right: 5px;
}

.row .expander-cell {
  padding-left: 10px;
  padding-right: 0;
  width: 30px;
}

.row .expander-link {
  display: block;
  text-align: center;
}

.row .duration {
  white-space: nowrap;
  text-align: right;
}

#loadingIndicator {
  text-align: center;
}

.blankSlate {
  margin-top: 50px;
}
.blankSlate .panel-body{
  text-align: center;
}


